.page-header {
  background-image: url("/assets/images/season1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 90vh;
  position: relative;
}


.season-info {
  position: absolute;
  max-width: 1385px;
  display: flex;
  padding: 47px 47px 64px 35px;
  background-color: #0e0e0e;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.season-info__num {
  font-weight: bold;
  font-size: 96px;
  line-height: 56px;
  text-align: center;
  margin-right: 51px;
}
.season-info__num span {
  display: block;
  font-size: 36px;
  line-height: 42px;
}

.season-info__text p {
  margin-bottom: 15px;
}

.seasons {
  max-width: 1385px;
  margin: 0 auto;
}

.seasons__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px 75px;
  counter-reset: counter;
  padding-top: 50px;
}

.seasons__item {
  width: 350px;
  height: 250px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seasons__item:hover .seasons__link {
  opacity: 1;
}

.seasons__item::before {
  content: "0" counter(counter);
  counter-increment: counter;
  position: absolute;
  font-weight: 700;
  font-size: 96px;
  line-height: 112px;
  color: #600e09;
  left: 0;
  top: -72px;
  z-index: -1;
}

.seasons__item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(14, 14, 14, 0.8);
}

.seasons__link {
  font-size: 36px;
  line-height: 42px;
  padding: 12px 78px 11px;
  background-color: #0e0e0e;
  opacity: 0;
  transition: all 0.3s;
  z-index: 2;
}

.title {
  text-align: center;
  margin-bottom: 100px;
  font-size: 36px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 100px;
}

.menu-container {
  max-width: 1385px;
  margin: 0 auto;
  position: relative;
}
.menu {
  padding: 50px 0 58px;
  list-style: none;
  background: linear-gradient(
    180deg,
    #111213 0%,
    #111213 43.62%,
    rgba(32, 31, 33, 0) 86.33%
  );
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__list-item {
  padding: 0 13px;
  text-decoration: none;
  list-style: none;
}

.menu__list-link--active {
  color: #85ccdc;
  text-decoration: underline;
}
.menu__list-link {
  color: #fff;
  font-size: 36px;
  line-height: 42px;
  text-decoration: none;
}

.menu__list-link:hover,
.menu__list-link--active {
  color: #85ccdc;
  text-decoration: underline;
}

.page-logo {
  position: absolute;
}
