.menu__list {
  display: flex;
  justify-content: center;
  padding: 50px 0 58px;
  list-style: none;
  background: linear-gradient(
    180deg,
    #111213 0%,
    #111213 43.62%,
    rgba(32, 31, 33, 0) 86.33%
  );
}

.menu__list-item {
  padding: 0 13px;
  text-decoration: none;
  list-style: none;
}

.menu__list-link {
  color: #fff;
  font-size: 36px;
  line-height: 42px;
  text-decoration: none;
  list-style: none;
}

.menu__list-link:hover{
  color: #85ccdc;
  text-decoration: underline;
}
