<nav class="menu">
  <ul class="menu__list">
    <li class="menu__list-item">
      <a class="menu__list-link menu__list-link--active" [routerLink]="['/season', '1']">1 сезон</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" routerLink="/season/2">2 сезон</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" routerLink="/season/3">3 сезон</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" routerLink="/season/4">4 сезон</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" routerLink="/season/5">5 сезон</a>
    </li>
    <li class="menu__list-item">
      <a class="menu__list-link" routerLink="/season/6">6 сезон</a>
    </li>
  </ul>
</nav>