a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.section_page {
  padding: 100px 0;
}

.title {
  text-align: center;
  margin-bottom: 100px;
  font-size: 36px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 100px;
}

.header {
  background-image: url("/assets/images/header-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50px;
  text-align: center;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    #0e0e0e 0%,
    rgba(17, 17, 17, 0.850295) 16.53%,
    rgba(32, 31, 33, 0) 100%
  );
  transform: rotate(180deg);
}

.logo {
  padding-top: 178px;
}

.about__inner {
  display: flex;
}

.about__info {
  width: 375px;
  margin-right: 50px;
  flex: none;
}

.about__info-item span {
  display: block;
}

.about__info-item span {
  margin-bottom: 25px;
  color: #e5e5e5;
}

.about__text p {
  margin-bottom: 25px;
}

.video {
  background-image: url("/assets/images/video-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: right;
}

.video__text {
  font-style: italic;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  color: #85ccdc;
  padding-top: 444px;
  margin-bottom: 40px;
}

.video__text span {
  display: block;
  padding-right: 285px;
}

.video__btn {
  padding-left: 112px;
  position: relative;
  margin-right: 230px;
  cursor: pointer;
}

.video__btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  top: -40px;
  background-image: url("/assets/images/youtube.svg");
}

.seasons__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px 75px;
  counter-reset: counter;
  padding-top: 50px; 
}

.seasons__item {
  width: 350px;
  height: 250px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seasons__item:hover .seasons__link {
  opacity: 1;
}

.seasons__item::before {
  content: "0" counter(counter);
  counter-increment: counter;
  position: absolute;
  font-weight: 700;
  font-size: 96px;
  line-height: 112px;
  color: #600e09;
  left: 0;
  top: -72px;
  z-index: -1;
}

.seasons__item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(14, 14, 14, 0.8);
}

.seasons__link {
  font-size: 36px;
  line-height: 42px;
  padding: 12px 78px 11px;
  background-color: #0e0e0e;
  opacity: 0;
  transition: all 0.3s;
  z-index: 2;
}

.heroes__inner {
  display: flex;
  justify-content: space-between;
}

.heroes__slider-img {
  position: relative;
  max-width: 775px;
}

.heroes__slider-text {
  max-width: 350px;
}

.slick-btn1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: none;
  border-color: transparent;
  z-index: 5;
  cursor: pointer;
  outline: none;
}

.slick-btn2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  border-color: transparent;
  z-index: 5;
  cursor: pointer;
  outline: none;
}
.slick-prev {
  left: 38px;
}

.slick-next {
  right: 38px;
}

.heroes__name {
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  color: #85ccdc;
}

.heroes__text p {
  margin-bottom: 50px;
}

.copy {
  padding: 14px 0 15px;
  text-align: center;
  list-style: none;
}
